<div>Injected fooBar: <pre>{{ foo || '-' }}</pre></div>
<div>Injected random: <pre>{{ random || '-' }}</pre></div>
<div>Injected window: <pre>{{ window || '-' }}</pre></div>

<hr>

<ul>
  <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/randy">Randy</a>
  </li>
  <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/steve">Steve</a>
  </li>
</ul>

<hr>

<router-outlet></router-outlet>
