/* You can add global styles to this file, and also import other style files */
body {
  font-size: 24px;
}

.drunk-person {
  padding-top: 24px;
  width: 75%;
  margin: auto;
  display: block;
}

pre {
  display: inline;
}
